
.botonLogin {
    width: 150px;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #5e4b44;
    font-size: 1rem;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
    font-size: 1.125rem;
}

.botonLogin:hover {
    transform: scale(1.1);
}
  